@{
    ViewBag.Title = "Quản lý vật liệu";

    Layout = "~/Views/Shared/_LayoutClient2.cshtml";
}
@using CHBHTH.Models;


<header class="bg-body py-0">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <center>
                    <img src="~/Images/index_2.jpg" class="img-responsive" style="width: 100%; height: auto;" />
                </center>
            </div>
        </div>
    </div>
</header>
@*<br />
<div class="spnoibat">
    <center>
        <div class="row">
            <div class="col-md-4">
                <img src="~/Images/KHUYENMAI.jpg" class="img-responsive" alt="" width="80%" />
            </div>
            <div class="col-md-4">
                <img src="~/Images/QUATANG.jpg" class="img-responsive" alt="" width="80%" />
            </div>
            <div class="col-md-4">
                <img src="~/Images/THANHLY.jpg" class="img-responsive" alt="" width="80%" />
            </div>
        </div>
    </center>
</div> <br />*@

    @Html.Action("suapartial", "sanpham")

    @Html.Action("dauanpartial", "sanpham")

<div>
    <center>
        <img class="img-responsive" src="~/Images/BANNER-XAKHO.jpg" width="80%" />
    </center>
</div> <br />

    @Html.Action("raupartial", "sanpham")


